@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(18, 18, 18, 0.85);
}
